* {
  text-decoration: none;
}
.navbar {
  background-color: aquamarine;
  border-radius: 20px;
}
li {
  list-style: none;
  display: inline-block;
  margin-right: 35px;
  font-size: 20px;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-website-name {
  font-size: 42px;
  cursor: pointer;
  font-weight: 600;
}
li a {
  color: black;
  transition: 0.25s;
}
li a:hover {
  font-size: 50px;
  transition: 0.25s;
  font-weight: 600;
}
